@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&display=swap');

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 12px;
  border-radius: 25px;
  background-color: black;
}

.links {
  margin-right: 15px;
}

.links a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bolder;
}

.links a:hover {
  box-shadow: 0 0 30px 1px gray;
}

/* homepage */
.main-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 70%;
  max-width: 100vw;
  flex-direction: column;
  border-radius: 35px;
  box-shadow: 0 0 30px 1px gray;
  padding: 20px;
}

.picture {
  margin: 1em;

}

/* vuecounter */
.header{
  font-size: 5.2rem;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.input-wrapper{
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border: none;
  height: 50px;
  width: 230px;
  margin: 20px 0 20px 0;
  border: 2px solid black;
  border-radius: 10px 0 0 10px;
  font-weight: 900;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

.submit{
  border-radius: 0 10px 10px 0;
  margin-left:  -4px;
  border-left: 1px solid #d7d7d7;
  width: 110px;
  height: 56px;
  padding: 10px;
  background-color: #000000;
  color: white;
}

.submit:hover{
  background-color: #9e3b94;
  transition: all 0.4s;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.button{
  width: 170px;
  margin-top: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #070506;
  transition: all 0.4s;
}

.increase-num{
  margin-right: 12px;
}

.increase-num:hover{
  background-color: #9e3b94;
  font-weight: bolder;
}

.reduce-num{
  margin-right: 12px;
}

.reduce-num:hover{
  background-color: #883f89;
  font-weight: bolder;
}

.reset{
  margin-bottom: 30px;
  background-color: rgb(237, 8, 8);
}

.reset:hover{
  background-color: #9984a2;
}

/* notfound */
.img {
  font-size: 200px;
}

.heading-main {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
}

.error-msg {
  font-size: 20px;
  text-align: center;
}